.youtube{ 
   width: 25vw;
   height: 15vw;
   margin: 0.1vw;
   object-fit: cover;
   animation: fadein 0.7s;
   text-align: center;
}
@keyframes fadein{
  from{opacity: 0;}
  to {opacity: 1;}
}
@media only screen and (max-width: 440px){
.youtube{   
   width: 27vw;
   height: 18vw;
   }
}